@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" id="productForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Id" class="control-label"></label>
                <input asp-for="Product.Id" class="form-control" id="productId"/>
                <span asp-validation-for="Product.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" id="productName"/>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-select" asp-items="ViewBag.CategoryList" required id="productCategory">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" id="productDescription"/>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageFile" class="control-label"></label>
                <input asp-for="Product.ImageFile" class="form-control" id="productImageFile"/>
                <span asp-validation-for="Product.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" id="productPrice"/>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Ingredients" class="control-label"></label>
                <input asp-for="Product.Ingredients" class="form-control" id="productIngredients"/>
                <span asp-validation-for="Product.Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UsageInstructions" class="control-label"></label>
                <input asp-for="Product.UsageInstructions" class="form-control" id="productUsageInstructions"/>
                <span asp-validation-for="Product.UsageInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StockQuantity" class="control-label"></label>
                <input asp-for="Product.StockQuantity" class="form-control" id="productStockQuantity"/>
                <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CreatedAt" class="control-label"></label>
                <input asp-for="Product.CreatedAt" class="form-control" id="productCreatedAt"/>
                <span asp-validation-for="Product.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CreatedBy" class="control-label"></label>
                <input asp-for="Product.CreatedBy" class="form-control" id="productCreatedBy"/>
                <span asp-validation-for="Product.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.LastModified" class="control-label"></label>
                <input asp-for="Product.LastModified" class="form-control" id="productLastModified"/>
                <span asp-validation-for="Product.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.LastModifiedBy" class="control-label"></label>
                <input asp-for="Product.LastModifiedBy" class="form-control" id="productLastModifiedBy"/>
                <span asp-validation-for="Product.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="sendButton"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<input style="display: none" aclass="form-control" id="deleteButton"/>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SalesManagementClient.js"></script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}